.header,
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  min-height: 100px;
  padding: 0 40px;
}

.stats {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: right;
  div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 15px;
  }
  div > span {
    flex: 1 1 48px;
  }
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 100px); // 100px is the header's min-height
}

.container {
  width: 65%;
  margin: -100px auto 0 auto;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 40px;
  }
}

@media (max-width: 500px) {
  .stats {
    font-size: 1.4rem;
    div {
      margin-left: 10px;
    }
  }
  .container {
    margin: 0 auto 0 auto;
  }
}
