.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(
    100vh - 111px
  ); // 111px is the header's height (51px + 60px padding)
}

.container {
  width: 65%;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 850px) {
  .main {
    min-height: auto;
  }
  .container {
    width: 100%;
    padding: 40px;
  }
}
