.indication {
  color: #ffffff;
}

.pulledValue {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 3rem;
}

.capitalize {
  text-transform: capitalize;
}

.hintButton,
.hintWrapper {
  margin-top: 15px;
  font-weight: 300;
}

.hintButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hintButtonText {
  margin-left: 5px;
  font-size: 1rem;
  border-bottom: 1px solid #ffffff;
}

.hint {
  display: flex;
  margin-bottom: 5px;
  line-height: 1.6rem;
  div {
    margin-right: 5px;
    font-size: 1.4rem;
  }
  img {
    width: 17px;
    margin-right: 10px;
  }
}

.wordChoices,
.definitionChoices {
  margin-top: 40px;
  button {
    margin-top: 15px;
  }
}

.wordChoices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  button {
    margin-right: 15px;
    text-transform: capitalize;
  }
}
