.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 100px); // 100px is the header's min-height
}

.container {
  width: 65%;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 40px;
  }
}
