.indication {
  color: #ffffff;
}

.pulledValue {
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: capitalize;
}

.hintButton,
.hintWrapper {
  margin-top: 10px;
  font-weight: 300;
}

.hintButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hintButtonText {
  margin-left: 5px;
  font-size: 1rem;
  border-bottom: 1px solid #ffffff;
}

.hint {
  margin-bottom: 5px;
  span {
    font-size: 1.4rem;
  }
  img {
    width: 17px;
    margin-right: 10px;
  }
}

.choices {
  margin-top: 40px;
}
