.header,
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  min-height: 100px;
  padding: 0 40px;
}

.stats {
  font-size: 2rem;
  color: #ffffff;
  div {
    width: 85px;
    text-align: right;
  }
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 100px); // 100px is the header's min-height
}

.container {
  width: 65%;
  margin: -100px auto 0 auto;
}

.information {
  text-align: center;
  button {
    margin: 20px auto 0 auto;
  }
  figure {
    margin: 0;
    padding: 0;
    img {
      width: 256px;
    }
  }
}
