.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
  h1 {
    margin: 50px 0 0 0;
    font-size: 2.4rem;
    font-weight: 600;
    color: #ffffff;
  }
  h2 {
    margin: 10px 0 40px 0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.3rem;
    color: #ffffff;
  }
}

.cards {
  display: flex;
}

.cards > :first-child {
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .container {
    padding: 40px;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
  }
}

@media (max-width: 800px) {
  .cards {
    display: block;
  }
}
