.header,
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 30px 40px;
}

.stats {
  padding: 8px 20px;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.statText {
  margin: 0 5px;
  font-size: 1.2rem;
}

@media (max-width: 850px) {
  .header {
    display: block;
    align-items: flex-start;
  }
  .stats {
    margin-top: 20px;
  }
  .stat {
    &:not(:first-child) {
      margin-left: 0px;
    }
  }
}

@media (max-width: 720px) {
  .stats {
    display: block;
    width: fit-content;
    font-size: 1.6rem;
  }
  .stat {
    justify-content: flex-start;
    margin: 5px 0;
  }
  .statText {
    font-size: 1rem;
  }
}
