.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
  padding: 10px;
  text-align: left;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  img {
    width: 120px;
  }
  .content {
    margin-left: 20px;
    h3 {
      margin: 0 0 10px 0;
      font-size: 1.2rem;
    }
    p {
      margin: 0;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 350px;
    img {
      width: 100px;
    }
    .content {
      h3 {
        font-size: 1.1rem;
      }
      p {
        font-family: 1rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    img {
      width: 90px;
    }
  }
}
