.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats {
  padding: 8px 20px;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.statText {
  margin: 0 5px;
  font-size: 1.2rem;
}

@media (max-width: 850px) {
  .statText {
    display: none;
  }
  .stat {
    &:not(:first-child) {
      margin-left: 12px;
    }
  }
  .stat > span {
    margin-right: 3px;
  }
}
