body {
  margin: 0;
  min-height: 100vh;
  font-family: "Bitter", serif;
  background: #0052d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
}

a:visited,
a:focus {
  color: inherit;
}

input,
textarea,
button {
  font-family: inherit;
}

.logo {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 5px;
}

.button {
  display: block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.65;
}

.material-symbols-outlined.stats {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
  font-size: 3rem;
}
